# Training Analysis Project For Code Louisville Summer 2020 Program

## Import pandas and CSV file
Import pandas and read the Samplecomments2 CSV file, storing it in df

In [191]:
import pandas as pd

In [192]:
training_df = pd.read_csv('Samplecomments2.csv')
restaurant_df = pd.read_csv('Restaurantdata.csv')

## Take a look at the data in the CSV Files
Use: 
- .head to see the data in a spreadsheet format (put 10 in the parentheses to see all 10 rows)
- .shape to see how many rows/columns there are

Determine where there's a matching individual identifier to combine both DataFrames.

In [193]:
training_df.head(10)

,Username,Date,Restaurant,OSC,Receiving,Wish,Feedback
0,ABC123,5/20/2020,B000001,4.00,Yes,Shorter; More shoulder-to-shoulder,I love the training!
1,ABC234,5/20/2020,B000002,3.20,No,More shoulder-to-shoulder,The training is alright.
2,ABC345,5/20/2020,B000003,3.80,Yes,More computer,Training is okay.
3,ABC456,5/20/2020,B000004,2.80,No,Longer,Training is terrible.
4,ABC567,5/19/2020,B000005,2.50,No,Shorter; More shoulder-to-shoulder,I hate the training.
5,ABC678,5/19/2020,B000006,3.10,No,Shorter; More computer,I wish I didn't have to take the training.
6,ABC789,5/19/2020,B000007,3.60,Yes,Shorter,The training is pretty good.
7,ABC890,5/15/2020,B000008,3.80,Yes,More shoulder-to-shoulder,The training is really helpful.
8,ABC901,5/15/2020,B000009,3.95,Yes,Longer; More shoulder-to-shoulder,Training helps my team and I perform our jobs ...
9,ABC902,5/14/2020,B000010,2.50,No,More computer,Training is a waste of time and I don't want i...

In [194]:
training_df.shape

(10, 7)

In [195]:
restaurant_df.head()

,Restaurant,SalesMil,Safety,WindowSeconds,BestofBestAward,FullyTrained,Staff,FollowSchedule
0,B000001,$2.2,Yes,65,Yes,Yes,40,Yes
1,B000002,$2.1,Yes,80,No,Yes,36,Yes
2,B000003,$2.0,Yes,75,Yes,Yes,38,Yes
3,B000004,$1.6,Yes,120,No,Yes,17,No
4,B000005,$1.2,No,130,No,No,13,No

In [196]:
restaurant_df.shape

(20, 8)

## Combine DataFrames

Join the two DataFrames (training_df & restaurant_df) into a new one for analysis purposes. Restaurant_df contains more data, but we only care about looking at restaurants that completed the training survey (training_df), so we will want to do a left join. 

Convert Wish & Feedback columns to lowercase to avoid errors later on.

In [197]:
complete_df = pd.merge(left=training_df, right=restaurant_df, how='left', left_on='Restaurant', right_on='Restaurant')

In [198]:
complete_df['Wish'] = complete_df['Wish'].str.lower()
complete_df['Feedback'] = complete_df['Feedback'].str.lower()

In [199]:
complete_df.head(10)

,Username,Date,Restaurant,OSC,Receiving,Wish,Feedback,SalesMil,Safety,WindowSeconds,BestofBestAward,FullyTrained,Staff,FollowSchedule
0,ABC123,5/20/2020,B000001,4.00,Yes,shorter; more shoulder-to-shoulder,i love the training!,$2.2,Yes,65,Yes,Yes,40,Yes
1,ABC234,5/20/2020,B000002,3.20,No,more shoulder-to-shoulder,the training is alright.,$2.1,Yes,80,No,Yes,36,Yes
2,ABC345,5/20/2020,B000003,3.80,Yes,more computer,training is okay.,$2.0,Yes,75,Yes,Yes,38,Yes
3,ABC456,5/20/2020,B000004,2.80,No,longer,training is terrible.,$1.6,Yes,120,No,Yes,17,No
4,ABC567,5/19/2020,B000005,2.50,No,shorter; more shoulder-to-shoulder,i hate the training.,$1.2,No,130,No,No,13,No
5,ABC678,5/19/2020,B000006,3.10,No,shorter; more computer,i wish i didn't have to take the training.,$1.1,Yes,100,No,Yes,18,No
6,ABC789,5/19/2020,B000007,3.60,Yes,shorter,the training is pretty good.,$1.9,Yes,90,No,Yes,19,No
7,ABC890,5/15/2020,B000008,3.80,Yes,more shoulder-to-shoulder,the training is really helpful.,$1.8,Yes,70,No,Yes,22,Yes
8,ABC901,5/15/2020,B000009,3.95,Yes,longer; more shoulder-to-shoulder,training helps my team and i perform our jobs ...,$1.8,Yes,75,Yes,Yes,37,Yes
9,ABC902,5/14/2020,B000010,2.50,No,more computer,training is a waste of time and i don't want i...,$1.1,No,180,No,No,17,No

In [200]:
complete_df.shape

(10, 14)

## Look at how people responded to the "Receiving" question
Take a look at how many people said they are receiving what they need to train their people on promotions versus the number of people who do not. 

"Normalized" the counts to represent as a decimal/percentage for both yes/no. Leaving "normalize" off displays the actual count of each response.

In [201]:
complete_df['Receiving'].value_counts(normalize=True)

No     0.5
Yes    0.5
Name: Receiving, dtype: float64

## Create new functions based on response to "Receiving" question

Create a new function using a boolean to sort and show only those who said they *do not* receive the training they need. Then, check how many records appear, to gut check it's correct.

Repeat for those who said they *do* receive the training they need.

In [202]:
said_no = complete_df[complete_df['Receiving'] == 'No']

In [203]:
said_no.shape

(5, 14)

In [204]:
said_yes = complete_df[complete_df['Receiving'] == 'Yes']

In [205]:
said_yes.shape

(5, 14)

## Examine the OSC scores compared to the "Receiving" response
Print:
- Average OSC score of those who said no vs. yes
- Median OSC score of no vs.  yes

In [218]:
print(said_no['OSC'].mean(),
      said_yes['OSC'].mean(),
      said_no['OSC'].median(),
      said_yes['OSC'].median()
     )

2.82 3.8299999999999996 2.8 3.8

These results show those who say they are *not* receiving the training they need have lower average and median OSC scores. To continue analysis, create two new functions to group those who have a OSC score greater than 3 and those who have 3 or less.

In [207]:
over3 = complete_df[complete_df['OSC'] > 3]
undereq3 = complete_df[complete_df['OSC'] <= 3]

Take a look at the percentage of yes/no responses for those with scores over 3 vs. under or equal to 3.

In [208]:
print(over3['Receiving'].value_counts(normalize=True))

Yes    0.714286
No     0.285714
Name: Receiving, dtype: float64

In [209]:
print(undereq3['Receiving'].value_counts(normalize=True))

No    1.0
Name: Receiving, dtype: float64

These results show for those with OSC scores *above* 3, the majority are getting what they need. For those with scores *under or equal to* 3, 100% of them do not feel they're receiving the training they need.

Take a look at the sample sizes to make sure it's a fair distribution:

In [210]:
print(len(over3))
print(len(undereq3))

7
3

## Analyze Sales, Window Speed, & Staff Counts as related to "Receiving"

In [ ]:
#complete_df = complete_df.copy()
#complete_df['SalesMil'] = complete_df['SalesMil'].apply(lambda x: x.replace('$', '').replace(',', '')
                                #if isinstance(x, str) else x).astype(float)

In [ ]:
#complete_df['SalesMil'].apply(type).value_counts()

In [213]:
complete_df.head(3)

,Username,Date,Restaurant,OSC,Receiving,Wish,Feedback,SalesMil,Safety,WindowSeconds,BestofBestAward,FullyTrained,Staff,FollowSchedule
0,ABC123,5/20/2020,B000001,4.0,Yes,shorter; more shoulder-to-shoulder,i love the training!,2.2,Yes,65,Yes,Yes,40,Yes
1,ABC234,5/20/2020,B000002,3.2,No,more shoulder-to-shoulder,the training is alright.,2.1,Yes,80,No,Yes,36,Yes
2,ABC345,5/20/2020,B000003,3.8,Yes,more computer,training is okay.,2.0,Yes,75,Yes,Yes,38,Yes

In [215]:
print(said_no['WindowSeconds'].mean(),
      said_yes['WindowSeconds'].mean(),
      said_no['WindowSeconds'].median(),
      said_yes['WindowSeconds'].median()
     )

122.0 75.0 120.0 75.0

Results show those who do not feel they are receiving the training they need have slower window speeds.

In [216]:
print(said_no['Staff'].mean(),
      said_yes['Staff'].mean(),
      said_no['Staff'].median(),
      said_yes['Staff'].median()
     )

20.2 31.2 17.0 37.0

Results show those who do not feel they are receiving the training they need have fewer staff (which, logically, may be contributing to their reduced performance as well).

## Look at responses to the "Wish" question
Keeping in mind that people can select multiple wishes, analyze:
- How many people selected "shorter" training
- Split up every entry (split by ; in csv file) and stack so each individual item can be counted; then, check the count for each to find most popular wishes

In [ ]:
wishshorter = complete_df['Wish'].str.contains('shorter')
wishshorter.value_counts(normalize=True)

In [ ]:
wishlist = complete_df["Wish"].str.split(';', expand=True)
wishlist.stack().value_counts()